*{
    margin: 0;
    padding: 0;
}

div
{
    width: 50px;
    height: 50px;
    background-color: red;
    text-align: center;
  
}


.container
{
    width: 1000px;
    height: 200px;
    background-color: grey;
    display: flex;
    
   
    /*
    flex-wrap: wrap;
    flex-direction: column;
     flex-direction: row-reverse;
    */
}

#uno
{
    flex-grow: 2;
    background-color: aqua;
}

#dos
{
    flex-grow: 4;
     
}
#tres
{
    flex-grow: 2;
    background-color: blue;
}





/*    
justify-content: center;
justify-content: left;
justify-content: right;
justify-content: flex-start;
justify-content: space-around;
justify-content: space-between;
justify-content: space-evenly;
align-items: center;
}



#tres
{
    align-self: start;
    background-image: linear-gradient(blue,violet);
}
*/